/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# Ignore shell history files
/.*_hist*

# Ignore temporary folder contents:
/tmp/*

# Ignore compiled css/js files (Why doesn't laravel ignore these by default?)
#/public/css
#/public/js
#public/mix-manifest.json

# Ignore node HOME artifacts:
/.config
/.npm
/.node-gyp

# Ignore vim files
*.sw*
.env
# phpunit
.phpunit.result.cache
